{{- $baseCommands := (include ".chezmoitemplates/lazydocker/config.yml" | fromYaml).customCommands.containers -}}
{{- $extraPath := ".chezmoitemplates/lazydocker/lazydocker-specific.yml" }}
{{- $extraCommands := list }}
{{- if stat $extraPath }}
{{- $extras := (include $extraPath | default "" | fromYaml)}}
{{- with $extras.customCommands }}
{{- with $extras.customCommands.containers }}
{{- $extraCommands = $extras.customCommands.containers -}}
{{- end }}
{{- end }}
{{- end }}
{{- $allCommands := concat $baseCommands $extraCommands -}}
customCommands:
  containers:
{{- $allCommands | toYaml | nindent 2 }}
