{{- $config := deepCopy .codex -}}
{{- $homeDir := .chezmoi.homeDir -}}
{{- $mcpServers := get $config "mcp_servers" -}}
{{- range $name, $server := $mcpServers -}}
{{- if hasKey $server "args" -}}
{{- $args := list -}}
{{- range $arg := get $server "args" -}}
{{- $args = append $args (replace "{file:~/.config/mcp/mcp.json}" (joinPath $homeDir ".config" "mcp" "mcp.json") $arg) -}}
{{- end -}}
{{- $_ := set $server "args" $args -}}
{{- end -}}
{{- end -}}
{{ $config | toToml }}
